/* Background Wrapper */
.background-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  background-color: var(--bg-color);
  pointer-events: none;
}

.blobs-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4000px;
}

.brain-blob-container {
  position: absolute;
  width: 400px;
  height: 400px;
  animation: float 40s ease-in-out infinite alternate;
}

.brain-blob-svg {
  width: 100%;
  height: 100%;
  overflow: visible;
}

/* NO BLUR for shapes and lines */
.brain-mass {
  filter: none;
}

.brain-outline {
  filter: none;
}

@keyframes float {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }

  50% {
    transform: translate(25px, -20px) rotate(2deg);
  }

  100% {
    transform: translate(-20px, 25px) rotate(-2deg);
  }
}

/* Individual blob positions */
.blob-1 {
  top: 150px;
  left: -5%;
}

.blob-2 {
  top: 600px;
  right: -10%;
}

.blob-3 {
  top: 1200px;
  left: 0%;
  animation-duration: 45s;
}

.blob-4 {
  top: 1800px;
  right: -5%;
  animation-duration: 38s;
}

.blob-5 {
  top: 2500px;
  left: 20%;
  animation-duration: 42s;
}

.blob-6 {
  top: 3200px;
  left: 0%;
  animation-duration: 40s;
}

.blob-7 {
  top: 3800px;
  right: 10%;
  animation-duration: 44s;
}

/* Desktop adjustments */
@media (min-width: 1024px) {
  .brain-blob-container {
    width: 600px;
    height: 600px;
  }
}

/* Reduced motion */
@media (prefers-reduced-motion: reduce) {
  .brain-blob-container {
    animation: none;
  }
}